<!DOCTYPE html>
<html>
	<head>
		<title>Mini YikYak</title>
	    <script src="https://code.jquery.com/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://fb.me/react-0.14.0.min.js"></script>
		<script src="https://fb.me/react-dom-0.14.0.min.js"></script>
		<link rel="stylesheet" href="stylesheets/navbar.css"/>
		<link rel="stylesheet" href="stylesheets/style.css"/>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>