<div id="myContainer"></div>
<script src="javascripts/InputBox.js"></script>
<script src="javascripts/Post.js"></script>
<script src="javascripts/Posts.js"></script>
<script src="javascripts/Header.js"></script>
<script src="javascripts/Footer.js"></script>
<script src="javascripts/index.js"></script>