body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #336699;
}

a {
  color: #00B7FF;
}

#inputForm {
	text-align: center;
	padding-top: 20px;
}

#myPost {
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

.col-xs-12.col-md-6.thumbnail .caption {
	background-color: #0099CC;
	color: white;
	text-align: center
}

.col-xs-12.col-md-6.thumbnail {
	background-color: #336699;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
	border: 0;
}

.inputbox {
	padding-bottom: 50px;
}

footer .container {
	text-align: center;
}
